@import 'tailwindcss';

/* Configurar variante dark personalizada */
@custom-variant dark (&:where(.dark, .dark *));

/* Paleta de colores personalizada */
@theme {
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;

  --color-success-500: #22c55e;
  --color-success-600: #16a34a;
  --color-success-700: #15803d;

  --color-warning-500: #f59e0b;
  --color-warning-600: #d97706;
  --color-warning-700: #ba5006;

  --color-error-500: #ef4444;
  --color-error-600: #dc2626;
  --color-error-700: #b91c1c;
}
